[Unit]
Description=eth-validator

[Service]
Type=simple
ExecStart=/prysm/prysm-validator-service.sh start
ExecStop=/prysm/prysm-validator-service.sh stop
Restart=always
RestartSec=2

[Install]
WantedBy=sysinit.target
