[Unit]
Description=eth-beacon

[Service]
Type=simple
ExecStart=/opt/prysm-beacon-service.sh start
ExecStop=/opt/prysm-beacon-service.sh stop
Restart=always
RestartSec=2

[Install]
WantedBy=sysinit.target
